{% if page.header.banner %}
<div id="banner-wrapper">
	<div class="container">
		<div id="banner">
			<h2>{{ page.header.banner.headline }}</h2>
			{% if page.header.banner.follower %}<span>{{ page.header.banner.follower }}</span>{% endif %}
		</div>
	</div>
</div>
{% endif %}