<article class="blog-post">
	<h2>Just another blog post</h2>
	<a class="comments" href="#">33 comments</a>
	<a href="#"><img src="{{ url('theme://images/pic6.jpg') }}" alt="" class="top blog-post-image" /></a>
	<h3>Magna Gravida Dolore</h3>
	<p>Aenean non massa sapien. In hac habitasse platea dictumst.
	Maecenas sodales purus et nulla sodales aliquam. Aenean ac
	porttitor metus. In hac habitasse platea dictumst. Phasellus
	blandit turpis in leo scelerisque mollis. Nulla venenatis
	ipsum nec est porta rhoncus. Mauris sodales sed pharetra
	nisi nec consectetur. Cras elit magna, hendrerit nec
	consectetur in, sollicitudin vitae justo. Cras amet aliquet
	Aliquam ligula turpis, feugiat id fermentum malesuada,
	rutrum eget turpis. Mauris sodales sed pharetra nisi nec
	consectetur. Cras elit magna, hendrerit nec consectetur
	in sollicitudin vitae.</p>
	<footer class="controls">
		<a href="#" class="button">Continue Reading</a>
	</footer>
</article>
