{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="row main-row">

	<div class="12u">
		<section class="inner">
			{% block inner_content %}
				{{ page.content|raw }}
			{% endblock %}
		</section>
	</div>
</div>

{% endblock %}
