{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="row main-row">

						<div class="3u 12u(mobile)">

	{% include 'partials/sidebar2.html.twig' %}

						</div>


						<div class="6u 12u(mobile) important(mobile)">

							<section class="middle-content">
            {{ page.content }}
        </section>


						</div>

    <div class="3u 12u(mobile)">
	{% include 'partials/sidebar1.html.twig' %}
    </div>


					</div>


{% endblock %}
