{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="row main-row">

	<div class="8u 12u(mobile)">
		<section class="left-content">
			{{ page.content }}
		</section>
	</div>

	<div class="4u 12u(mobile)">
		{% include 'partials/sidebar1.html.twig' %}
	</div>

</div>

{% endblock %}
