<section>
	{% set creators = page.find('/components/creators') %}
	{{ creators.content }}
	<ul class="small-image-list">
		{% for module in creators.collection %}
			{{ module.content }}
		{% endfor %}
	</ul>
</section>
