<section>
	{% set creators = page.find('/components/creators') %}
	<h2>{{ creators.header.heading }}</h2>
	<ul class="small-image-list">
		{% for module in creators.collection %}
			{{ module.content }}
		{% endfor %}
	</ul>
</section>
