<section>
	{{ text_copy }}

	{% if buttons %}
		<footer class="controls">
			{% for button in buttons %}
				<a href="{{ button.target }}" class="button">{{ button.text }}</a>
			{% endfor %}
		</footer>
	{% endif %}
</section>
