{% set columns = columns ?: 2 %}
{% set per_column = per_column ?: 5 %}
{% set column_units = column_units ?: (12 // columns) %}
{% set links = links ?: page.header.links %}
{% set heading = heading ?: (links.heading ?: 'How about some links?') %}
{% set row_layout = (columns > 1) %}
<section>
	<h2>{{ heading }}</h2>
	{% if row_layout %}
		<div>
			<div class="row">
	{% endif %}
	{% for link in links.list|slice(0, (per_column * columns)) %}
		{% if (loop.index - 1) % per_column == 0 %}
			{% if row_layout %}
				<div class="{{ column_units }}u 12u(mobile)">
			{% endif %}
					<ul class="link-list">
		{% endif %}
						<li><a href="{{ link.target }}">{{ link.text }}</a></li>
		{% if loop.last or (not(loop.first) and (loop.index % per_column) == 0) %}
					</ul>
			{% if row_layout %}
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}
	{% if row_layout %}
			</div>
		</div>
	{% endif %}
</section>
