{% set per_column = 5 %}
{% set links = links ?: page.header.links %}
<section>
	<h2>How about some links?</h2>{{ dump(links) }}
	<div>
		<div class="row">
		{% for link in links|slice(0, (per_column * 2)) %}
			{% if (loop.index - 1) % per_column == 0 %}
				<div class="6u 12u(mobile)">
					<ul class="link-list">
			{% endif %}
			<li><a href="{{ link.target }}">{{ link.text }}</a></li>
			{% if loop.last or (not(loop.first) and (loop.index % per_column) == 0) %}
					</ul>
				</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</section>
