<section>
	<h2>Welcome to Minimaxing!</h2>
	<p>This is <strong>Minimaxing</strong>, a fully responsive HTML5 site template designed by <a href="http://twitter.com/ajlkn">AJ</a> and released for free by <a href="http://html5up.net">HTML5 UP</a>. It features
	a simple, lightweight design, solid HTML5 and CSS3 code, and full responsive support for desktop, tablet, and mobile displays.</p>
	<footer class="controls">
		<a href="http://html5up.net" class="button">More cool designs ...</a>
	</footer>
</section>
